{% load my_filters%}

<!DOCTYPE html>
<head>

    <title>Инфляция в России</title>

  </head>
  <body>
  <h1 style="font: 50px dayton">Инфляция в России</h1>


    <table width="100%"  style="font: 24px chicago;" cellpadding="5" rules="rows"  >
      <thead >
        <tr>
          {% for month in title_row %}
          <th align="left" >
            {{ month }}
          </th>
          {% endfor %}
        </tr>
      </thead>


      <tbody>

      {% for row in inflation_info %}

      <tr>
        <td style="background-color: {{row.Year}}"> {{ row.Year|default:"-" }}</td>
        <td style="background-color: {{row.Jan|background_paint}}"> {{ row.Jan|default:"-" }}</td>
        <td style="background-color: {{row.Feb|background_paint}}"> {{ row.Feb|default:"-" }}</td>
        <td style="background-color: {{row.Mar|background_paint}}"> {{ row.Mar|default:"-" }}</td>
        <td style="background-color: {{row.Apr|background_paint}}"> {{ row.Apr|default:"-" }}</td>
        <td style="background-color: {{row.May|background_paint}}"> {{ row.May|default:"-" }}</td>
        <td style="background-color: {{row.Jun|background_paint}}"> {{ row.Jun|default:"-" }}</td>
        <td style="background-color: {{row.Jul|background_paint}}"> {{ row.Jul|default:"-" }}</td>
        <td style="background-color: {{row.Aug|background_paint}}"> {{ row.Aug|default:"-" }}</td>
        <td style="background-color: {{row.Sep|background_paint}}"> {{ row.Sep|default:"-" }}</td>
        <td style="background-color: {{row.Oct|background_paint}}"> {{ row.Oct|default:"-" }}</td>
        <td style="background-color: {{row.Nov|background_paint}}"> {{ row.Nov|default:"-" }}</td>
        <td style="background-color: {{row.Dec|background_paint}}"> {{ row.Dec|default:"-" }}</td>
        <td style="background-color: lightgrey"> {{ row.Summ|default:"-" }}</td>
      </tr>

      {% endfor %}
      </tbody>
    </table>
</div>
  </div>
    </body>
</html>