{% load my_filters%}

<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>

  <body>
    {% block content %}
      <div class="row">
        <h1>Инфляция в России</h1>
        <div class>
        <div class="container">
  <div class="row">
    <table >
      <thead>
        <tr>
          {% for month in title_row %}
          <th>
            {{ month }}
          </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>

      {% for row in inflation_info %}

      <tr>
        <td style="background-color: {{row.Year}}"> {{ row.Year|default:"-" }}</td>
        <td style="background-color: {{row.Jan|background_paint}}"> {{ row.Jan|default:"-" }}</td>
        <td style="background-color: {{row.Feb|background_paint}}"> {{ row.Feb|default:"-" }}</td>
        <td style="background-color: {{row.Mar|background_paint}}"> {{ row.Mar|default:"-" }}</td>
        <td style="background-color: {{row.Apr|background_paint}}"> {{ row.Apr|default:"-" }}</td>
        <td style="background-color: {{row.May|background_paint}}"> {{ row.May|default:"-" }}</td>
        <td style="background-color: {{row.Jun|background_paint}}"> {{ row.Jun|default:"-" }}</td>
        <td style="background-color: {{row.Jul|background_paint}}"> {{ row.Jul|default:"-" }}</td>
        <td style="background-color: {{row.Aug|background_paint}}"> {{ row.Aug|default:"-" }}</td>
        <td style="background-color: {{row.Sep|background_paint}}"> {{ row.Sep|default:"-" }}</td>
        <td style="background-color: {{row.Oct|background_paint}}"> {{ row.Oct|default:"-" }}</td>
        <td style="background-color: {{row.Nov|background_paint}}"> {{ row.Nov|default:"-" }}</td>
        <td style="background-color: {{row.Dec|background_paint}}"> {{ row.Dec|default:"-" }}</td>
        <td style="background-color: grey"> {{ row.Summ|default:"-" }}</td>
        {% endfor %}
      </tr>
      </tbody>
    </table>

  </div>
</div>

        </div>
      </div>
    {% endblock %}

  </body>
</html>